<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,600,400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("partials/head.html") %>
</head>


<body>
    <%- include("partials/navigation.html") %>
    <div class="body-container">
        <div class="foto_part_e">
            <div class="fp_cont">
              <div class="fp_left">
                <h1>Certificato di Traduzione Editoriale</h1>
                <p>Certificato di Traduzione Editoriale (eng&gt;ita)
                    Conferito da: Herzog Agenzia Letteraria
                    Milano, Giugno 2018
                    Corso di traduzione editoriale per saggistica e narrativa
                    dall&#39;inglese all&#39;italiano.</p>
              </div>
            </div>
        </div>
        <div class="foto_part_c">
            <div class="fp_cont">
              <div class="fp_left">
                <h1>Certificazione TEFL</h1>
                <p>TEFL certificazione per l&#39;insegnamento della lingua
                    inglese
                    conferito da: TEFL i to i
                    Parma, Maggio 2017
                    Certificazione per l&#39;insegnamento della lingua inglese.</p>
              </div>
            </div>
        </div>
        <div class="foto_part_d">
            <div class="fp_cont">
              <div class="fp_left">
                <h1>Università degli studi Torino</h1>
                <p>"Laurea Magistrale in Culture Moderne Comparate" / 
                    Università degli studi Torino
                    Marzo 2015 <BR></BR>
                    Voto finale: 110/110 e lode.
                    Riconoscimento della dignità di stampa per la tesi di
                    ricerca.</p>
              </div>
            </div>
        </div>                            
        

    </div>
    
    <%- include("partials/footer.html") %> 
</body>

</html>