<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.html") %>
</head>


<body style="background-color: aquamarine;">
    <%- include("partials/navigation.html") %>
        <div class="body-container">
            <h1>
                <%= title %>
            </h1>
            <p class="text-start">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis nunc orci, ac aliquet
                ipsum lobortis sed. Donec sodales facilisis tellus, ut pharetra dolor placerat vitae. Vivamus fermentum,
                ante at efficitur semper, eros metus interdum sapien, in varius quam diam quis lorem. Morbi fermentum
                condimentum felis, sed pulvinar libero convallis sed. Duis sollicitudin tortor sit amet tincidunt
                accumsan. Aenean quis sollicitudin metus, nec pellentesque massa. Vestibulum feugiat pharetra sapien,
                nec cursus turpis ultricies in. Praesent vulputate urna libero, eget dictum nulla cursus non. Phasellus
                malesuada arcu elementum sollicitudin dapibus. Fusce vitae varius lectus. Vestibulum enim arcu, volutpat
                a quam quis, euismod mollis augue. Fusce dignissim nibh dapibus tellus condimentum, et pretium neque
                accumsan. Suspendisse id ornare massa. Nunc gravida lacus et turpis feugiat, non ultricies odio
                malesuada.

                Ut iaculis sodales diam, elementum eleifend sem malesuada id. Nunc ultricies dictum leo nec ultricies.
                Nam blandit finibus tellus cursus facilisis. Praesent nec nisl nec neque tristique pulvinar quis quis
                tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Proin convallis scelerisque lacus sit amet pretium. Fusce efficitur vitae ante non consectetur. Donec
                quis enim ornare, interdum ligula non, posuere sem. Praesent sodales porta augue, non porta metus
                tincidunt vitae. Sed sed elit scelerisque, aliquam massa convallis, vulputate ipsum. Etiam ut nisi
                vehicula, fringilla lacus tempor, tincidunt risus. Sed egestas leo eu justo egestas, eu pharetra ipsum
                elementum. Nunc dictum nec libero vitae varius. Vestibulum et enim orci.

                Nulla suscipit tortor nec velit pellentesque dictum. Duis rutrum consectetur dictum. Suspendisse
                venenatis, lectus ut molestie congue, eros felis tristique odio, sed congue erat orci non nisi. Donec
                eget commodo ligula, ac varius nibh. Aenean rhoncus magna libero, finibus porta turpis dapibus vitae.
                Praesent posuere nunc et magna commodo viverra. Ut ut ex varius, interdum lacus non, molestie augue.
                Fusce vel erat sed eros vestibulum molestie. Fusce eu urna metus. Praesent a diam euismod, molestie sem
                eget, placerat augue. Vestibulum tempor arcu et felis consequat suscipit. Donec ex est, vestibulum eget
                ante sed, bibendum suscipit lectus. Nullam volutpat cursus lectus vulputate ullamcorper. Pellentesque
                sed augue consectetur, auctor felis non, lobortis diam. Donec odio lectus, tincidunt eget augue sed,
                cursus fermentum dui.

                Nunc lacus dui, tristique ac risus ac, mattis suscipit odio. Morbi eget augue maximus erat interdum
                faucibus at sed ligula. Vivamus metus orci, vehicula at fringilla id, tincidunt ac neque. Donec at risus
                sit amet nisi lacinia pulvinar. Pellentesque sed tellus metus. Donec eget augue sed sem accumsan
                tristique. Donec gravida ullamcorper porta. Ut et sollicitudin velit. Sed aliquam velit orci, ac
                ullamcorper felis egestas quis.

                Fusce pretium mi eu ipsum varius, ac posuere elit sollicitudin. Morbi rhoncus felis ac eros sodales, a
                maximus est dapibus. Aliquam mollis tortor ipsum, ut accumsan dolor posuere at. Suspendisse at lorem
                interdum, mattis sem eu, rhoncus neque. Fusce gravida ipsum et laoreet dignissim. Curabitur molestie
                odio sed risus congue tempor. Sed non bibendum massa. Nullam vel sapien congue, ornare neque non,
                egestas tellus. Integer quis massa maximus, congue magna ac, gravida risus. Vestibulum eu ligula eget
                elit aliquet porta.

                Quisque in tortor enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; In augue diam, maximus a enim in, fermentum porta ligula. Vivamus pharetra dapibus nisl, sit amet
                suscipit diam volutpat malesuada. Donec tempor, arcu sed placerat viverra, massa odio scelerisque massa,
                eu molestie elit lectus eget libero. Nam sit amet tincidunt tellus. Phasellus mollis libero dui, non
                feugiat quam rhoncus quis. Suspendisse dolor orci, fringilla a sagittis sit amet, pellentesque quis leo.
                Duis condimentum odio dignissim, egestas nisi quis, vulputate lorem. Proin vehicula dapibus nunc sit
                amet lobortis. Donec faucibus, ante eu sagittis tristique, erat nibh posuere mi, vitae pharetra mauris
                mi id nisi. Vestibulum ultrices nunc facilisis gravida bibendum.
            </p>


            <%- include("partials/footer.html") %>
</body>

</html>