<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,600,400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.html") %>
</head>


<body>
    <%- include("partials/navigation.html") %>
        <div class="body-container">
            <div class="middle">
                  <div class="info_bottom">
                    <div class="ib_left">
                      <img src="css\business.JPG" alt="" id='img_left'>
                      <h2>Business English</h2>
                      <p>Creo corsi per lavoratori in qualsiasi ambito, aiutandoli a sviluppare un lessico specialistico
                        adeguato e ad esprimere la loro professionalità in forma parlata e scritta con il business English.
                        Offro supporto nella preparazione di curriculum, lettere di presentazione e colloqui di lavoro in
                        lingua inglese.</p>
                      <div class="line">
                      </div>
                      <p id='pop-feat'>POPULAR FEATURES</p>
                      <p><i class="fas fa-check-circle"></i>Lessico Professionale</p>
                      <p><i class="fas fa-check-circle"></i>Presentazioni e colloqui</p>
                   
                      <div class="ib_btn_orange">
                        <p>Contattami</p>
                        </div>
                    </div>
                    <div class="ib_left">
                        <img src="css\certificazioni.jpg" alt="" id='img_center'>
                        <h2>Certificazioni Linguistiche</h2>
                        <p>Ho esperienza pluriennale nella preparazione di certificazioni di lingua, specialmente IELTS, TOEFL
                            e CAE.
                            Metto a disposizione in formato pdf il materiale necessario alla preparazione degli esami.</p>
                        <div class="line">
                        </div>
                        <p id='pop-feat'>POPULAR FEATURES</p>
                        <p><i class="fas fa-check-circle"></i>IELTS</p>
                        <p><i class="fas fa-check-circle"></i>TOEFL</p>
                        <p><i class="fas fa-check-circle"></i>CAE</p>
                        <div class="ib_btn_orange">
                          <p>Contattami</p>
                        </div>
                    </div>                
            </div>
            <div class="middle">                
                <div class="info_bottom">
                  <div class="ib_left">
                    <img src="css\general_english.jpg"alt="" id='img_left'>
                    <h2>General English</h2>
                    <p>Creo piani di studio strutturati e personalizzati in base alle esigenze degli studenti.
                        Normalmente divido la lezione in 4 parti: parlato, ascolto, grammatica e vocabolario.
                        Il mio scopo è di aiutare lo studente ad avvicinarsi alla lingua in modo graduale ed efficace,
                        curando ogni aspetto e integrando le lezioni con compiti da svolgere individualmente.
                        Metto a disposizione tutto il materiale necessario (grammatica, vocaboli, letture) gratuitamente in
                        formato Pdf.</p>
                    <div class="line">
                    </div>
                    <p id='pop-feat'>POPULAR FEATURES</p>
                    <p><i class="fas fa-check-circle"></i>Piani di Studio</p>
                   
                    <div class="ib_btn_orange">
                      <p>Contattami</p>
                      </div>
                  </div>
                  <div class="ib_left">
                      <img src="css\cultura.jpg" alt="" id='img_center'>
                      <h2>Cultura e Pronuncia Nordamericana</h2>
                      <p>Per chi fosse interessato ad approfondire il tema dell’American English, offro corsi incentrati sulla
                         storia, musica e cultura Nordamericana. Queste lezioni verranno integrate con seminari sulla
                         pronuncia, le espressioni idiomatiche e lo slang.</p>
                      <div class="line">
                      </div>
                      <p id='pop-feat'>POPULAR FEATURES</p>
                      <p><i class="fas fa-check-circle"></i>American English</p>
                      <p><i class="fas fa-check-circle"></i>Slang</p>
                     
                      <div class="ib_btn_orange">
                        <p>Contattami</p>
                      </div>
                  </div>                
          </div>
        </div>
        <div class="foto_part_a">
            <div class="fp_cont">
              <div class="fp_left">
                <h1>Traduzioni e Revisioni</h1>
                <p>Effettuo servizi di traduzione per le combinazione linguistiche Italiano&gt; Inglese - Inglese&gt; Italiano.
                    Realizzo traduzioni e revisioni in diversi ambiti, con una particolare enfasi su testi di carattere
                    umanistico: cultura, testi accademici, editoria, business e marketing, turismo, enogastronomico,
                    design, sottotitoli, rassegna stampa, arte, musica e letteratura.
                    Offro inoltre un servizio di consulenza, traduzione e revisione per la preparazione di testi in inglese
                    relativi a domande di impiego o accesso all’università.
                    Lavoro con il software di traduzione Trados.</p>
              </div>
            </div>
        </div>
        <div class="foto_part_b">
            <div class="fp_cont">
              <div class="fp_left">
                <h1>Voice Over</h1>
                <p>Se vi serve una voce per il vostro video…
                    Offro servizi di voice over in lingua Inglese per aziende, privati e instituzioni cuturali. Dispongo
                    delle attrezzature necessarie per realizzare le tracce audio.</p>
                <p>Link per ascoltare alcuni dei miei progetti audio:</p>
                    <a href="https://www.youtube.com/watch?v=McH3GEcK_yU">Ascoltami</a><br>
                    <a href="https://youtu.be/Tsa-ZOduVYU">Ascoltami</a>                   
              </div>
            </div>
        </div>                     
              
       

    <%- include("partials/footer.html") %>
</body>

</html>