<form action="#" method="get" class="container-form">
    <label for="txtNome">Nome* </label>
    <input type="text" name="txtNome" id="" required><br>
    <label for="txtCognome">Cognome* </label>
    <input type="text" name="txtCognome" id="" required><br>
    <label for="txtEmail">Email* </label>
    <input type="email" name="txtEmail" id="" required><br>
    <label for="txtRipetiEmail">Ripeti*</label>
    <input type="email" name="txtRipetiEmail" id="" required><br>
    <label for="txtMessaggio">Scrivi qui il tuo messaggio </label>
    <textarea name="txtMessaggio"></textarea>
    <input type="submit" name="btnInvia" value="Invia">

</form>