<form action="#" method="get" class="container-form">
    <label for="txtNome">Nome* </label><br>
    <input type="text" name="txtNome" id="" required><br><br>
    <label for="txtCognome">Cognome* </label><br>
    <input type="text" name="txtCognome" id="" required><br><br>
    <label for="txtEmail">Email* </label><br>
    <input type="email" name="txtEmail" id="" required><br><br>
    <label for="txtRipetiEmail">Ripeti*</label><br>
    <input type="email" name="txtRipetiEmail" id="" required><br><br>
    <label for="txtMessaggio">Scrivi qui il tuo messaggio </label>
    <textarea rows="3" cols="38" name="txtMessaggio"></textarea><br><br>
    <input type="submit" name="btnInvia" value="Invia">

</form>