<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #1A197F">
    <div class="container">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                    <a class="nav-link text-white" href="./servizi.html">Servizi</a>
                    <a class="nav-link text-white" href="./certificazioni.html">Certificazioni</a>                    
                    <a class="nav-link text-white" href="./contatti.html">Contatti</a>
                </div>
            </div>
        </div>
    </div>
</nav>