<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="./chi-sono.html">Chi sono?</a>
                    <a class="nav-link" href="./cosa-faccio.html">Cosa faccio</a>
                    <a class="nav-link" href="./collaboratori.html">Collaboratori</a>
                    <a class="nav-link" href="./informazioni-e-contatti.html">Informazioni e Contatti</a>
                    <a class="nav-link" href="./prove.html">Prove</a>
                </div>
            </div>
        </div>
    </div>
</nav>